
		body {
			background: url(benzema.jpg);
			background-size: 100%;
			background-position: center;
			background-attachment: fixed;
}

#container{
    width: auto;
    margin: 0px auto;
    border: 2 px solid black;
}



#Práctica3{ color:red;
   text-align:center;
   font-style: oblique;
   -webkit-text-stroke: 1px black;
   background-color: aqua;
}
p.Gustavo { color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
p.Evelin { color: red;

}
p.Juan { color: red;

}
p2 { color: brown;
    text-transform: uppercase;
    text-decoration: underline;
	background-color: aqua;
	
}
p3 { color: green;
	text-transform: uppercase;
	text-decoration: underline;
	background-color: aqua;

}
a {color: blueviolet;
	line-height: 3.5;
	background-color: aqua;
}



	